# Folders
.vscode/*
.venv
submission-documents/
_resources/
# hidden fig for now - can remove later if change to qaurto/rmd
fig/ 

# Quarto output
quarto/_output/
quarto/.quarto/
quarto/*_files/
quarto/site_libs/
#! check below when pushing to github
quarto/_freeze/
quarto/_site/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# user settings
.*DS_Store/*
.DS_Store
.Rproj.user
*.Rproj

# file types
*.pdf
*.html
.RData
.Rhistory
*.tex
*.aux
*.log
*.synctex*
*.css
*.xlsx
*.doc*
*.ppt*
*.dfc*
*.svg

# files
*.fdb_latexmk
*.aux
*.log
*.synctex.gz
*.bbl
*.fls
*.toc
*.xdv
*.blg

peer-assessment/*

# cached files
quarto/SMM636-a02-SubmissionForm.pdf
2603*
